.services {
    &__item {
        max-width: 420px;
        max-height: 640px;
        height: auto;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
        border-radius: 2px;
        .item__bottom {
            padding: 0 24px 40px;
        }
        .item__img {
            // max-width: 420px;
            max-height: 420px;
            max-width: 100%;
            object-fit: cover;
        }
        .item__header {
            font-weight: bold;
            font-size: 24px;
            line-height: 23px;
            color: #000000;
            margin-top: $margin-big;
        }
        .item__descr {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #000000;
            margin-top: $margin-medium;
            li {
                margin-top: 8px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .services {
        &__wrapper {
            padding-bottom: 25px;
        }
    }
}

@media (max-width: 525px) {
	.services {
		&__item {
			max-width: 285px;
			.item__bottom {
				padding: 0 11px 32px;
			}
			.item__img {
				max-height: 300px;
				max-width: 100%;
				object-fit: cover;
			}
			.item__header {
				font-size: 18px;
				line-height: 17px;
				margin-top: 20px;
			}
			.item__descr {
				font-size: 13px;
				line-height: 20px;
				li {
					margin-top: 8px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}